.App{
  text-align: center;
}

.user-name{
  font-family: Roboto;
  color: aqua;
  font-style: normal;
}

.user-profile-pic{
  height: 250px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.user-first-name{
  text-transform: uppercase;
  font-style: italic;
  font-weight: bolder;

}